@import "./../../assets/scss/colors";

.navbar{
  background-color: $primary;
  border-bottom:1px solid $primary-strong;
}

.navbar-brand{
  font-size:2em;
  font-family: 'Fredoka One', cursive;
  text-decoration: none;
  color:$white;
  transition: all 0.3s;
}

.navbar-brand:hover{
  color:transparentize($white,0.4);
}
