@import "./../../assets/scss/colors";

footer{
  background: $master;
  color:$white;
  height:26px;
  line-height: 26px;
  text-align: center;
  font-size:0.8em;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
