$master:rgb(30, 158, 127);
$white: rgb(255,255,255);
$error: rgb(173, 13, 52);
$grey: rgb(108, 108, 108);
$text:rgb(37, 37, 37);
$background: $white;

$primary:rgb(235, 185, 33);
$primary-strong:rgb(210, 159, 3);
$red:rgb(222, 37, 104);
$green: rgb(90, 139, 75);
$calendar:$master;
$calendarText:$white;
$acent:#03A9F4;
